<h3><i class="fas fa-book-reader"></i>MemoryBlog</h3>

<div class="section">
    <div class="lead">
        Create Public and private blogs from your life
    </div>
</div>

<div class="divider">

</div>

<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i> Log In with Google
    </a>
</div>